/**index.wxss**/

/** 回显面板 */
.echo-pane {
  padding: 20rpx;
  margin-top: 100rpx;
  margin-bottom: 100rpx;

  font-size: 90rpx;
  text-align: right;
}

/** 操作面板 */
.op-pane {
}

.row {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 20rpx;
}

.span2 {
  flex: 2;
}

.btn0 {
  aspect-ratio: 1/0.5!important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 60rpx;
  background-color: rgb(54, 54, 54);

  aspect-ratio: 1;
  border-radius: 99999rpx;
}

.gray-btn {
  background-color: rgb(166, 166, 166);
}

.orange-btn {
  background-color: rgb(233, 158, 40);
}
